.cable-line {
    fill: none;
    stroke-linejoin: round;
    stroke: #3d647a;
    stroke-linecap: round;
    stroke-width: 4;
    pointer-events: stroke;
    cursor: pointer;
}

.cable-connection-point {
    fill: #1677d2;
    stroke: #fff;
    stroke-width: 3;
}

.cable-endpoint {
    cursor: grab;
}

.cable-endpoint:active {
    cursor: grabbing;
}

.cable-connection-point.connection-highlight {
    fill: #ffc107;
}

.cable-line.cable-selected {
    stroke: #ffc107;
    stroke-width: 6;
}

.cable-connection-point.cable-selected {
    stroke: #ffc107;
}
