.circuit-part-svg,
.circuit-part-points {
    cursor: grab;
}

.circuit-part-svg:active,
.circuit-part-points:active {
    cursor: grabbing;
}

.circuit-connection-point {
    fill: #1677d2;
    stroke: #fff;
    stroke-width: 3;
}

.circuit-connection-point.connection-highlight {
    fill: #ffc107;
}

.circuit-selection-outline {
    fill: none;
    stroke: #ffc107;
    stroke-width: 3;
    pointer-events: none;
}
