.circuit-part-svg,
.circuit-part-points {
    cursor: grab;
}

.circuit-part-svg:active,
.circuit-part-points:active {
    cursor: grabbing;
}

.circuit-connection-point {
    fill: #1677d2;
    stroke: #fff;
    stroke-width: 3;
}

